<div class="container">

  <!-- <h1>To Do List</h1>
    <div class="row to-do">
      <div class="col-md-9">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Add Task" aria-label="Add Task"
          aria-describedby="button-addon2" [(ngModel)]="todo.title">
        </div>
        </div>
        <div class="col-md-3">
          <button [disabled]="!todo.title" class="btn abc" type="button" id="button-addon2" (click)="addTask()">{{todo.id?'Update':'Add'}}</button>
        </div>
        <div class="to-do-list">
          <ul>
            <li *ngFor="let item of todoList">
              <label for="task3">{{item.title}}</label>

              <i (click)="editTask(item)" class="fa fa-pencil"></i>
              <i class="fa fa-times"></i>

            </li>
          </ul>

        </div>

      </div> -->


  <h2> Ecommerce Application</h2>
  <div>
    <!-- <a routerLink="productsss" class="btn btn-primary">Products</a>
  <a routerlink="products-create" class="btn btn-primary">Products-create</a> -->


    <!-- <app-products></app-products> -->
    <div>
      <a routerLink="products" class="btn btn-primary">Products</a>
      <router-outlet></router-outlet></div>
  </div>

  <div class="form">
    <a routerLink="products-create" class="btn btn-primary">Products-create</a>
    <router-outlet></router-outlet>
  </div>

</div>
